@charset "utf-8";html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
html,body{height:100%}
header,footer,article,section,nav,menu,hgroup{display:block}
a{text-decoration:none}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
:focus{outline:0}
ins{text-decoration:none}
del{text-decoration:line-through}
table{border-collapse:collapse;border-spacing:0}
*{margin:0;padding:0}
html,body{margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;position:relative;line-height:1.67em;background:#fff;color:#555;text-align:left;height:100%}
.clear{clear:both;height:0;width:0;line-height:0;font-size:0}
.hidden{display:none}
#site-wrapper{height:auto;position:relative;overflow:hidden;background:url(images/grunge00.jpg) repeat-x top left}
.container{position:relative;margin:0 auto;width:960px}
.no-margin{margin-right:0!important}
h1{font-weight:normal;font-size:40px;line-height:40px}
h2{font-weight:normal;font-size:34px;line-height:34px}
h3{font-weight:normal;font-size:28px;line-height:28px}
h4{font-weight:normal;font-size:22px;line-height:22px}
h5{font-weight:normal;font-size:17px;line-height:17px}
h6{font-weight:normal;font-size:14px;line-height:14px}
h1,h2,h3,h4,h5,h6{margin-bottom:12px;color:#333;padding-left:1px}
#sidebar h1,#sidebar h2,#sidebar h3,#sidebar h4,#sidebar h5,#sidebar h6{margin-bottom:12px}
p{margin-bottom:18px;height:auto}
#content ul,.plan ul{list-style:disc;list-style-position:inside;margin-bottom:15px}
#content ol,.plan ol{list-style:decimal;list-style-position:inside;margin-bottom:15px}
blockquote{font-style:italic;margin-bottom:15px;font-size:12px}
blockquote p{font-family:Georgia,"Times New Roman",Times,serif}
.colum blockquote p,#sidebar blockquote p{padding-bottom:30px;background:url(images/testimon.png) no-repeat -1px bottom;margin-bottom:0;font-family:Georgia,"Times New Roman",Times,serif}
cite{font-size:11px;display:block;text-align:left}
a{color:#333;font-weight:bold}
a:hover{color:#333;text-decoration:underline}
.divider{overflow:hidden;position:relative;width:100%;height:3px;margin-bottom:30px;background:url(images/divider1.png) repeat-x left top}
code,pre{background:url("images/code_bg0.png") repeat scroll 0 0 #fff;border:1px solid #ddd;color:#000;display:block;font-family:Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;font-size:12px;line-height:20px;margin:10px 0 20px;overflow:auto;padding:0 3px}
#content img{padding:5px;background:#ececec;border:#d9d9d9 1px solid;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#content img:hover{border:#bfbfbf 1px solid}
img.alignleft{margin:5px 10px 5px 0}
img.alignright{margin:5px 0 5px 10px}
img.icon{padding:0!important;border:none!important;background:none!important}
div#header{position:relative}
#logo{margin-bottom:16px;position:relative;padding-top:40px}
#logo a{color:#fff;text-decoration: none}
ul.sf-menu{background:url(images/nav-bg00.png) no-repeat top left;height:42px;width:960px;margin-bottom:20px}
#login-holder{position:absolute;top:45px;right:0}
#login-holder .sml-btn{margin-right:0}
#login-box{width:230px;padding:18px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;overflow:hidden;background:#eee url(images/login-bg.png) repeat-x left bottom}
#login-box label{font-size:11px;text-transform:uppercase;font-weight:bold;color:#333}
#login-username{width:190px;height:22px;padding:5px 10px 3px 30px;background:url(images/user-inp.png) no-repeat left top;margin-bottom:10px;border:none;font-size:11px;color:#fff}
#login-password{width:190px;height:22px;padding:5px 10px 3px 30px;background:url(images/password.png) no-repeat left top;margin-bottom:15px;border:none;font-size:11px;color:#fff}
#login-submit{font-family:Arial,Helvetica,sans-serif;margin:0;background:#390 url(images/sml-btn-.png) repeat-x top left;color:#fff;border:#1b5000 1px solid;text-shadow:#1b5000 0 -1px 0}
#login-submit:hover{background:#287800 url(images/sml-btn-.png) repeat-x top left;text-shadow:#133800 0 -1px 0}
.submit-block{overflow:hidden;margin-bottom:15px}
.lostpass{font-size:10px;text-transform:uppercase;font-weight:bold;text-align:center;display:block;color:#333;text-decoration:underline}
.lostpass:hover{color:#eb0303;text-decoration:none}
#slider-holder{height:270px;width:960px;position:relative;margin-top:75px;margin-bottom:35px;background:url("images/pagename.png") no-repeat scroll center bottom transparent;padding-bottom:1px}
#slider-nav-container{position:absolute;left:45%;bottom:12px;z-index:500}
#slider-nav{background:url(images/slider-n.png) no-repeat top left;height:23px;width:auto;padding-left:13px;float:left;padding-top:9px}
#slider-nav a{background:url(images/nav-off0.png) no-repeat top left;margin:0 0 0 7px;text-indent:-9999px;width:8px;height:7px;position:relative;display:block;float:left}
#slider-nav a.activeSlide,#slider-nav a:hover{background:url(images/nav-on00.png) no-repeat top left}
#slider{height:250px;position:relative;background:url("images/black-sl.png") no-repeat scroll left top transparent;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.slide{width:960px;height:250px;position:relative;background:url("images/black-sl.png") no-repeat scroll left top transparent;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px}
.slide .inside{padding:20px 295px 20px 20px}
.slide h2{color:#fff}
.slide p{color:#cfcfcf;margin-bottom:10px}
.slide-img{position:absolute;right:50px;top:27px}
#pagename{background:url(images/pagenamf.png) no-repeat left top;margin-bottom:45px;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;position:relative;width:960px;height:100px;color:#cacaca;font-size:12px}
#pagename .inside{padding:17px 20px 18px;background:url(images/pagename.png) no-repeat scroll center 101px}
#pagename h2{color:#fff;margin-bottom:5px}
.breadcrumbs a{color:#fff}
.breadcrumbs a:hover{color:#fff}
.big-btn{position:relative;display:block;cursor:pointer;float:left;height:28px;line-height:28px;padding:0 10px;font-size:11px;font-weight:bold;overflow:hidden;margin:10px 10px 10px 0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-transform:uppercase;text-decoration:none!important;text-align:center}
.sml-btn{font-size:9px;text-transform:uppercase;position:relative;display:block;cursor:pointer;height:22px;line-height:22px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding:0 5px;float:left;margin:10px 10px 10px 0;font-weight:bold;text-decoration:none!important;text-align:center}
a.grey,.grey{background:#f5f5f5 url(images/big-btn-.png) repeat-x top left;color:#222;border:#888 1px solid;text-shadow:#fff 0 1px 0}
a.grey:hover,.grey:hover{background:#dedede url(images/big-btn-.png) repeat-x top left;color:#000;border:#666 1px solid;text-decoration:none}
a.red,.red{background:#eb0303 url(images/big-btn-.png) repeat-x top left;color:#fff;border:#9e0000 1px solid;text-shadow:#9e0000 0 -1px 0}
a.red:hover,.red:hover{background:#d50101 url(images/big-btn-.png) repeat-x top left;color:#fff;border:#8d0000 1px solid;text-decoration:none}
a.black,.black{background:#3a3a3a url(images/big-btn-.png) repeat-x top left;color:#fff;border:#1a1a1a 1px solid;text-shadow:#1a1a1a 0 -1px 0}
a.black:hover,.black:hover{background:#2c2c2c url(images/big-btn-.png) repeat-x top left;color:#fff;border:#0b0b0b 1px solid;text-shadow:#0b0b0b 0 -1px 0;text-decoration:none}
a.green,.green{background:#390 url(images/big-btn-.png) repeat-x top left;color:#fff;border:#1b5000 1px solid;text-shadow:#1b5000 0 -1px 0}
a.green:hover,.green:hover{background:#287800 url(images/big-btn-.png) repeat-x top left;text-shadow:#133800 0 -1px 0}
a.blue,.blue{background:#005a99 url(images/big-btn-.png) repeat-x top left;color:#fff;border:#003150 1px solid;text-shadow:#1b5000 0 -1px 0}
a.blue:hover,.blue:hover{background:#004478 url(images/big-btn-.png) repeat-x top left;text-shadow:#002438 0 -1px 0}
a.special,.special{background:#f5f5f5 url(images/big-btn-.png) repeat-x top left;color:#222;border:#888 1px solid;text-shadow:#fff 0 1px 0}
a.special:hover,.special:hover{background:#3a3a3a url(images/big-btn-.png) repeat-x top left;color:#fff;border:#1a1a1a 1px solid;text-shadow:#1a1a1a 0 -1px 0}
a.orange,.orange{background:#df4e00 url(images/big-btn-.png) repeat-x top left;color:#fff;border:#8f3200 1px solid;text-shadow:#8f3200 0 -1px 0}
.slide a.grey,#login-holder a.grey{border:#fff 1px solid;background:#f5f5f5 url(images/big-btn0.png) repeat-x bottom left}
.slide a.grey:hover,#login-holder a.grey:hover{border:#f1f1f1 1px solid;background:#dedede url(images/big-btn0.png) repeat-x bottom left}
.slide a.red,#login-holder a.red{border:#fe3333 1px solid;background:#eb0303 url(images/big-btn0.png) repeat-x bottom left}
.slide a.red:hover,#login-holder a.red:hover{border:#fe1818 1px solid;background:#d50101 url(images/big-btn0.png) repeat-x bottom left}
.slide a.black,#login-holder a.black{border:#818181 1px solid;background:#3a3a3a url(images/big-btn0.png) repeat-x bottom left}
.slide a.black:hover,#login-holder a.black:hover{border:#676767 1px solid;background:#2c2c2c url(images/big-btn0.png) repeat-x bottom left}
.slide a.green,#login-holder a.green{border:#45cf00 1px solid;background:#390 url(images/big-btn0.png) repeat-x bottom left}
.slide a.green:hover,#login-holder a.green:hover{border:#3aaf00 1px solid;background:#287800 url(images/big-btn0.png) repeat-x bottom left}
.slide a.blue,#login-holder a.blue{border:#007fcf 1px solid;background:#005a99 url(images/big-btn0.png) repeat-x bottom left}
.slide a.blue:hover,#login-holder a.blue:hover{border:#0073af 1px solid;background:#004478 url(images/big-btn0.png) repeat-x bottom left}
#hosting-plans{position:relative;margin-top:90px;margin-bottom:30px;height:auto;overflow:hidden}
.plan{position:relative;width:300px;height:auto;overflow:hidden;margin-right:30px;float:left;background:url("images/plan-sha.png") no-repeat scroll center bottom transparent;padding-bottom:19px}
.plan .title{height:45px;width:300px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;background:url(images/plan-tit.png) no-repeat top left}
.plan .title h4{color:#fff;padding:9px;margin-bottom:0}
.plan .content{border:#a0a0a0 1px solid;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;height:auto;padding:10px 10px 0;background:#fff url(images/plan-bg0.png) no-repeat center bottom}
.plan .content .price{width:75px;height:92px;position:relative;float:right;background:url(images/price-bg.png) no-repeat left top;color:#fff;font-weight:bold;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:30px}
.plan .content .price .inside{padding:23px 10px 5px;text-shadow:#1a1a1a 0 -1px 0;text-align:center;line-height:17px}
.plan .content .price .inside span{font-size:12px}
.plan .content .price .sml-btn{position:absolute;bottom:-1px;margin:0!important}
#content{height:auto;overflow:hidden;padding-bottom:35px;background:url(images/content-.png) repeat-x left bottom}
#home-page #content{background:#e7e7e7 url(images/content-.png) repeat-x left bottom;border-top:#d8d8d8 1px solid;padding-top:35px}
#home-colums{height:auto;overflow:hidden;background:url(images/colums-b.png) no-repeat top left;width:960px}
.colum{height:auto;width:280px;padding:0 25px 0 0;float:left;margin-right:25px}
#home-colums .no-margin{padding-right:0;background:none}
ul#services-list{list-style:none;list-style-position:outside}
ul#services-list li{padding-bottom:13px;background:url(images/service-.png) no-repeat left bottom;margin-bottom:10px}
ul#services-list li img{float:left;list-style:none;margin-top:8px;margin-right:7px}
#main-colum{height:auto;overflow:hidden;width:650px;float:left}
#sidebar{height:auto;overflow:hidden;width:280px;float:left;padding-left:30px;font-size:12px}
#sidebar ul{list-style-type:none;list-style-position:outside;padding:0;margin:0}
#sidebar .widget{height:auto;position:relative;overflow:hidden;margin-bottom:35px;background:url(images/widget-s.png) no-repeat scroll center bottom;padding-bottom:19px}
.widget .title{height:40px;width:280px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;background:url(images/widget-t.png) no-repeat top left}
.widget .title h5{color:#fff;margin-bottom:0!important;padding:11px}
.widget .content{border:#a0a0a0 1px solid;-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;height:auto;padding:10px;background:#fff url(images/widget-b.png) repeat-x center bottom}
#sidebar blockquote{margin-bottom:0}
#sidebar blockquote p{padding-bottom:10px;background:none;padding-right:5px}
.widget ul{list-style-position:outside;list-style-type:none;margin:0 0 7px 0;padding:0}
.widget ul li{list-style-type:none}
.widget ul li a{display:block;overflow:hidden;text-decoration:none!important;font-weight:normal}
.widget ul li a:hover{text-decoration:underline!important}
.widget ul li.current_page_item a{font-weight:bold;color:#ab0000}
.widget ul li.current_page_item li a{font-weight:normal;color:#eb0303}
.widget ul li.current_page_item li a:hover{color:#ab0000}
.widget p{margin-bottom:0}
.post{position:relative;display:block;float:left;height:auto;margin-bottom:40px;padding-bottom:20px;border-bottom:1px solid #d9d9d9}
.meta{margin-bottom:2px;font-size:10px}
.meta .category,.meta .date,.meta .comments{width:auto;margin-right:20px;padding:2px 0 1px 20px}
.meta .category{background:url(images/category.png) no-repeat left top}
.meta .date{background:url(images/clock000.png) no-repeat left top}
.meta .comments{background:url(images/comment0.png) no-repeat left 1px}
table td,table th{border-right:1px solid #bfbfbf;padding:10px;border-bottom:1px solid #bfbfbf}
tr.even{background:url(images/row-bg00.png) repeat-x top left}
.pricing-table{width:960px}
.pricing-table .price{font-size:40px;font-weight:bold}
.pricing-table{border-left:1px solid #bfbfbf;border-top:1px solid #bfbfbf}
.pricing-table tr td{text-align:center}
.pricing-table tr td.colfirst{text-align:left}
ul.gallery{list-style:none;height:auto;overflow:hidden;position:relative;float:left}
ul.gallery li{float:left;list-style:none;overflow:hidden;position:relative;margin:0 7px 30px}
ul.gallery li a{display:block;height:162px;width:226px;background:url(images/gallery-.jpg) no-repeat center center;text-decoration:none!important}
#content .paging{width:100%;overflow:hidden;padding-top:1px;float:left;font-size:11px;padding-bottom:1px}
#content .paging a{padding:3px 7px;background:#eee url(images/big-btn-.png) repeat-x top left;color:#222;border:#888 1px solid;text-shadow:#fff 0 1px 0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-transform:uppercase;text-decoration:none!important;font-weight:normal}
#content .paging a:hover{background:#dedede url(images/big-btn-.png) repeat-x top left;color:#000;border:#666 1px solid}
#content .paging span.selected{padding:3px 7px;background:#3a3a3a url(images/big-btn-.png) repeat-x top left;color:#dedede;border:#1a1a1a 1px solid;text-shadow:#1a1a1a 0 -1px 0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-weight:bold}
#contact_us{width:460px;margin:25px 0 0;overflow:hidden}
#contact_us p.label_name,#contact_us p.input_form{float:left;margin-bottom:10px}
p.label_name{width:80px;clear:both;color:#7f7e7e;font-size:13px}
#contact_us input,#contact_us textarea{width:370px;background:url("images/input-bg.png") repeat-x scroll left top #fff;border:#cacaca 1px solid;padding:4px;margin-bottom:15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-family:Arial,Helvetica,sans-serif;font-size:13px}
#contact_us input.big-btn{position:relative;display:block;cursor:pointer;float:right;height:28px;line-height:28px;padding:0 10px;font-size:11px;font-weight:bold;overflow:hidden;margin:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-transform:uppercase;text-decoration:none!important;text-align:center;background:#f5f5f5 url(images/big-btn-.png) repeat-x top left;color:#222;border:#888 1px solid;text-shadow:#fff 0 1px 0;width:auto}
#contact_us input.big-btn:hover{background:#3a3a3a url(images/big-btn-.png) repeat-x top left;color:#fff;border:#1a1a1a 1px solid;text-shadow:#1a1a1a 0 -1px 0}
#feedback p{margin-bottom:5px}
p.error{display:none}
p#submit{text-align:right}
#success{display:none}
div#footer{height:auto;position:relative;background:url(images/footer-b.jpg) repeat-x left top;color:#777;font-size:11px;overflow:hidden}
div#footer a{color:#afafaf;text-decoration:none;font-weight:normal}
div#footer a:hover{color:#d9d9d9}
#footer-colums{position:relative;display:block;height:auto;overflow:hidden;margin-bottom:35px}
.footer-colum{width:221px;margin-right:25px;float:left}
.footer-colum h4{color:#bbb}
.footer-colum li{border-bottom:1px solid #1e1e1e;border-top:#555 1px solid}
.footer-colum li a{display:block;padding:5px 0 5px 5px}
.footer-colum li a:hover{background:rgba(0,0,0,0.4);text-decoration:none}
#bottom-footer{position:relative;overflow:hidden;padding:17px 0 12px;background:url(images/bottom-f.png) repeat-x top left;color:#999}
#bottom-footer p{margin:0;line-height:16px}
ul#social-list{overflow:visible;height:16px;display:block;position:relative}
ul#social-list li{list-style:none;float:left;margin:0 2.5px}
.aligncenter,div.aligncenter{display:block;margin-left:auto;margin-right:auto;float:none!important}
.alignleft{float:left}
.alignright{float:right}
.center{text-align:center}
.wp-caption{border:1px solid #ddd;text-align:center;background-color:#f3f3f3;padding-top:4px;margin:10px;-moz-border-radius:4px;-khtml-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.wp-caption img{margin:0;padding:0;border:0 none}
.wp-caption p.wp-caption-text{font-size:11px;line-height:17px;padding:0 4px 5px;margin:0!important}
.close{cursor:pointer;position:absolute;top:0;right:5px;font-weight:bold}
.info-box{display:block;border:1px solid #afdbee;background:url(images/info0000.png) no-repeat scroll 8px 55% #e4f5fd;padding:10px 10px 10px 35px;margin:0;color:#2a80a7;font-size:13px;position:relative}
.info-box a{color:#2a80a7;border-bottom:#2a80a7 1px solid}
.info-box a:hover{color:#2a80a7;border-bottom:none!important}
.warning-box{display:block;border:1px solid #efdc75;background:url(images/warning0.png) no-repeat scroll 8px 55% #fff7cb;padding:10px 10px 10px 35px;margin:0;color:#db7701;font-size:13px;position:relative}
.warning-box a{color:#db7701;border-bottom:#db7701 1px solid}
.warning-box a:hover{color:#db7701;border-bottom:none!important}
.success-box{display:block;border:1px solid #b3dc7c;background:url(images/success0.png) no-repeat scroll 8px 55% #e8ffca;padding:10px 10px 10px 35px;margin:0;color:#527a19;font-size:13px;position:relative}
.success-box a{color:#527a19;border-bottom:#527a19 1px solid}
.success-box a:hover{color:#527a19;border-bottom:none!important}
.error-box{display:block;border:1px solid #ebb1b1;background:url(images/error000.png) no-repeat scroll 8px 55% #ffd6d6;padding:10px 10px 10px 35px;margin:0;color:#9d2121;font-size:13px;position:relative}
.error-box a{color:#9d2121;border-bottom:#9d2121 1px solid}
.error-box a:hover{color:#9d2121;border-bottom:none!important}
.info-box,.warning-box,.success-box,.error-box{margin-bottom:20px;margin-top:5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;overflow:hidden}
.full-width{width:960px}
.one_half{width:465px}
.one_third{width:300px}
.one_forth{width:217.5px}
.two_third{width:630px}
.three_forth{width:712.5px}
.one_half,.one_third,.one_forth,.two_third,.three_forth,.full-width{position:relative;float:left;margin-right:30px;height:auto;overflow:hidden;margin-bottom:30px}
.dropcap{font-size:40px;float:left;padding-right:10px;font-weight:bold}
#comments .commentlist{list-style-type:none;list-style-position:outside;overflow:hidden}
#comments h3{margin-bottom:30px!important;text-transform:capitalize}
#comments .commentlist li{margin-bottom:55px;height:auto;width:630px;overflow:hidden}
#comments .commentlist .comment-left{float:left;width:80px;height:100%;margin-right:30px}
#comments .commentlist .comment-left img{margin:0 0 10px}
#comments .commentlist .comment-left a{text-align:center;display:block}
#comments .commentlist .comment-right{float:left;width:470px;overflow:hidden;border:#cacaca 1px solid;padding:15px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}
#comments #responde{height:auto;overflow:hidden}
#comments #responde form p small{color:#6e6e6e!important}
#comments #responde #commentform input,#comments #responde #commentform textarea{font-family:Arial,Helvetica,sans-serif;border:#cacaca 1px solid;padding:2px 5px;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;background:url("images/input-bg.png") repeat-x scroll left top #fff;font-size:13px}
#comments #responde #commentform input{height:18px}
#comments #responde #commentform #submit{position:relative;display:block;cursor:pointer;float:left;height:28px;line-height:28px;padding:0 10px;font-size:11px;font-weight:bold;overflow:hidden;margin:0;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-transform:uppercase;text-decoration:none!important;text-align:center;background:#f5f5f5 url(images/big-btn-.png) repeat-x top left;color:#222;border:#888 1px solid;text-shadow:#fff 0 1px 0}
#comments #responde #commentform #submit:hover{background:#3a3a3a url(images/big-btn-.png) repeat-x top left;color:#fff;border:#1a1a1a 1px solid;text-shadow:#1a1a1a 0 -1px 0}
.tipsy{padding:5px;font-size:10px;opacity:.8;filter:alpha(opacity=80);background-repeat:no-repeat;background-image:url(images/tipsy200.gif);margin-top:-10px}
.tipsy-inner{padding:5px 8px 4px 8px;background-color:#fff;color:#000;max-width:200px;text-align:center}
.tipsy-inner{-moz-border-radius:3px;-webkit-border-radius:3px}
.tipsy-north{background-position:top center}
.tipsy-south{background-position:bottom center}
.tipsy-east{background-position:right center}
.tipsy-west{background-position:left center}
.sf-menu,.sf-menu *{margin:0;padding:0;list-style:none}
.sf-menu{line-height:1.0;position:relative;z-index:100}
.sf-menu ul{position:absolute;top:-999em;width:200px;z-index:100}
.sf-menu ul li{width:100%}
.sf-menu li:hover{visibility:inherit}
.sf-menu li{float:left;position:relative}
.sf-menu a{display:block;position:relative}
.sf-menu li:hover ul,.sf-menu li.sfHover ul{left:0;top:35px}
ul.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
ul.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:200px;top:0}
ul.sf-menu li li:hover li ul,ul.sf-menu li li.sfHover li ul{top:-999em}
ul.sf-menu li li li:hover ul,ul.sf-menu li li li.sfHover ul{left:15em;bottom:10em;top:0}
ul.sf-menu{text-transform:capitalize;font-size:11px;position:relative;list-style-type:none;list-style-position:outside;text-transform:uppercase;padding-left:10px;line-height:19px}
.sf-menu li a{display:block;text-decoration:none;padding:12px 17px;color:#333;text-shadow:0 1px 0 #fff;font-weight:normal}
.sf-menu li a:hover{display:block;text-decoration:none;padding:12px 17px;color:#fff;background:url(images/nav-hove.png) no-repeat center 2px;text-shadow:0 -1px 0 #222}
.sf-menu a,.sf-menu a:visited{color:#333}
.sf-menu li li{background:#fff;border-top:#fff 1px solid;border-bottom:#a5a5a5 1px solid}
.sf-menu li li a,.sf-menu li li a:visited{color:#333;margin-right:0;padding:8px 0;background:#fff;background:-moz-linear-gradient(center top,#fff,#e5e5e5) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e5e5e5))}
.sf-menu li li a:hover{padding:8px 17px;background:#353535;background:-moz-linear-gradient(center top,#4c4c4c,#313131) repeat scroll 0 0 transparent;color:#fff!important;outline:0;background:-webkit-gradient(linear,left top,left bottom,from(#4c4c4c),to(#313131))}
.opera .sf-menu li li a:hover{background:#353535}
.sf-menu li li li{background:#fff}
.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active{color:#000;outline:0}
.sf-menu li ul{margin-left:0;padding-top:5px}
.sf-menu li ul li ul{margin-top:-1px;background:none;padding-top:0}
.sf-menu li.current-cat a,.sf-menu li.current_page_item a{display:block;text-decoration:none;color:#fff;background:url(images/nav-hove.png) no-repeat center 2px;font-weight:bold;text-shadow:0 -1px 0 #222}
.sf-menu li.current-cat li a,.sf-menu li.current_page_item li a{color:#666;margin-right:0;background:#fff;background:-moz-linear-gradient(center top,#fff,#e5e5e5) repeat scroll 0 0 transparent;font-weight:normal;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e5e5e5));text-shadow:0 1px 0 #fff}
.sf-menu li.current-cat li a:hover,.sf-menu li.current_page_item li a:hover{color:#fff;margin-right:0;background:#353535;background:-moz-linear-gradient(center top,#4c4c4c,#313131) repeat scroll 0 0 transparent;background:-webkit-gradient(linear,left top,left bottom,from(#4c4c4c),to(#313131));text-shadow:0 -1px 0 #222}
.sf-menu li li.current-cat a,.sf-menu li li.current_page_item a{color:#fff;margin-right:0;background:#353535;background:-moz-linear-gradient(center top,#4c4c4c,#313131) repeat scroll 0 0 transparent;font-weight:bold;background:-webkit-gradient(linear,left top,left bottom,from(#4c4c4c),to(#313131))}
.sf-menu li li.current-cat a:hover,.sf-menu li li.current_page_item a:hover{color:#fff;margin-right:0;background:#353535;background:-moz-linear-gradient(center top,#4c4c4c,#313131) repeat scroll 0 0 transparent;font-weight:bold;background:-webkit-gradient(linear,left top,left bottom,from(#4c4c4c),to(#313131))}
.sf-menu li li.current-cat li a,.sf-menu li li.current_page_item li a{color:#666;margin-right:0;background:#fff;background:-moz-linear-gradient(center top,#fff,#e5e5e5) repeat scroll 0 0 transparent;font-weight:normal;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#e5e5e5))}
.sf-menu li li li.current-cat a,.sf-menu li li li.current_page_item a{color:#fff;margin-right:0;background:#353535;background:-moz-linear-gradient(center top,#4c4c4c,#313131) repeat scroll 0 0 transparent;font-weight:bold;background:-webkit-gradient(linear,left top,left bottom,from(#4c4c4c),to(#313131))}
.sf-menu a.sf-with-ul{;min-width:1px}
.sf-sub-indicator{position:absolute;display:block;right:.75em;top:1.3em;width:10px;height:10px;text-indent:-999em;overflow:hidden;background:url('images/arrow000.png') no-repeat top left}
a:focus>.sf-sub-indicator,a:hover>.sf-sub-indicator,a:active>.sf-sub-indicator,li:hover>a>.sf-sub-indicator,li.sfHover>a>.sf-sub-indicator{background-position:-10px -100px}
.sf-menu ul .sf-sub-indicator{background-position:-10px 0}
.sf-menu ul a>.sf-sub-indicator{background-position:0 0}
.sf-menu ul a:focus>.sf-sub-indicator,.sf-menu ul a:hover>.sf-sub-indicator,.sf-menu ul a:active>.sf-sub-indicator,.sf-menu ul li:hover>a>.sf-sub-indicator,.sf-menu ul li.sfHover>a>.sf-sub-indicator{background-position:-10px 0}
.sf-shadow ul{background:#1f1f1f}
.sf-shadow ul.sf-shadow-off{background:transparent}
